# Browsers that we currently support
# to get the list run: `npx browserslist`
# or paste this file contents into https://browsersl.ist/

# add all browsers that support the newish css syntaxes that we use
fully supports css-media-range-syntax and partially supports css-relative-colors and partially supports css-clip-path
# these are already included in last query
#last 2 versions
#firefox ESR
not dead
# remove browsers that don't fully support es2021 https://caniuse.com/sr_es12
# all these are redundant, the intersection of these and initial query is empty
#not and_qq <= 14.9
#not and_uc <= 15.5
#not chrome < 85
#not chromeandroid < 131
#not edge < 85
#not firefox < 79
#not firefoxandroid < 132
#not ios_saf < 14.5
#not kaios <= 3.1
#not op_mini all
#not opera < 71
#not safari < 14.1
#not samsung < 14.0
