# IDE, temp, generated, and other local-only files
.idea/
.vscode
.DS_Store
*~
*.iml
node_modules/
tweego*
Degrees of Lewdity*.html
*.7z
Zimg/
gitw

* Ignoring working folder for Quin2k
mod/
*.code-workspace
release/

# Error logs
yarn-error.log

# Keys
/keys/*
!/keys/README.md

# Dist
/dist/*
# We use a placeholder to ensure the host system creates the folder 
#  (may run into permissions issues if you allow docker to create it)
!/dist/.placeholder
img/sex/close/missionary/penis.xcf
img/sex/close/missionary/penispenetratedn1.png
img/sex/closeRed/missionary/penis.xcf
img/sex/closeRed/missionary/penis0.png
img/sex/closeRed/missionary/penis5.png
img/sex/closeRed/missionary/penisn1 discarded.png
img/sex/closeRed/missionary/penisn1.png
img/sex/missionary/active/body/activepenilen1.png
img/sex/missionary/active/body/activepenilen1.xcf
img/sex/missionary/active/body/penisn1.xcf
img/sex/missionary/active/body/penispenetratedn1.xcf
img/sex/missionaryRed/active/body/activepenisdownn1.png
img/sex/missionaryRed/active/body/activepenisvirgin0.png
img/sex/missionaryRed/active/body/activepenisvirgindown0.png
img/sex/missionaryRed/active/body/activepenisvirgindownn1.png
img/sex/missionaryRed/active/body/activepenisvirginn1.png
