.fishing-bar {
	width: 100%;
	cursor: pointer;
	user-select: none;
}

.fishing-bar .fishing-bar-canvas {
	display: block;
	width: 100%;
	height: var(--fishing-minigame-height);
	background: transparent;
	touch-action: none;
}
