.kitchen-recipe-box {
	flex-wrap: wrap;
	position: relative;
}

.recipe-text {
	font-size: 1.25em;
}

.food_ui {
	position: relative;
	border: 1px solid var(--750);
	height: 75vh;
	overflow: hidden;
	padding: 2px;
}

.food_ui > #body {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.food_ui #mainSection {
	height: 100%;
	width: 65%;
	padding: 2px;
}

.food_ui #itemList {
	height: 95%;
	height: calc(100% - 45px);
	overflow-y: scroll;
}

.food_ui #mainSection .item {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--800);
	padding: 2px;
	margin-bottom: 5px;
}

.food_ui #mainSection .item .details {
	display: block;
	width: 90%;
	width: calc(100% - 60px);
}

.food_ui #mainSection .item .recipe {
	display: block;
	width: 60px;
}

.food_ui #mainSection .item .recipe img {
	height: 40px;
	width: auto;
	border: 1px solid var(--150);
	vertical-align: middle;
}

.food_ui #altSection {
	height: 100%;
	width: 35%;
	overflow-y: scroll;
	padding: 2px;
}

.food_ui .mobileOnly {
	display: none;
}

@media screen and (max-width: 600px) {
	.food_ui #mobileHeader {
		display: block;
		height: 55px;
		width: 100%;
		border-bottom: 3px solid var(--150);
		overflow: hidden;
	}

	.food_ui #mobileHeader img {
		position: absolute;
		height: 40px;
		width: auto;
		top: 5px;
		right: 5px;
		border: 1px solid var(--150);
	}

	.food_ui #mobileHeader #controls {
		width: 90%;
		width: calc(100% - 50px);
	}

	.food_ui #body {
		height: 90%;
		height: calc(100% - 55px);
		display: block;
		position: relative;
	}

	/* Override since this UI doesnt have a header */
	#kitchenDisplay #body {
		height: 100%;
	}

	.food_ui #mainSection {
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		padding: 2px;
	}

	.food_ui #altSection {
		display: block;
		position: absolute;
		top: 10px;
		height: auto;
		min-height: 200px;
		max-height: 90%;
		width: 80%;
		left: 5%;
		background-color: var(--850);
		border: 1px solid var(--150);
		border-radius: 4px;
		padding: 4px;
		overflow-y: scroll;
		z-index: 1;
	}

	/* Found that some recipes wernt readable at certain heights */
	.food_ui #altSection .tooltip span {
		position: fixed;
		top: 0;
	}

	.food_ui #mobileCloser {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		backdrop-filter: blur(2px);
	}

	.food_ui .mobileOnly {
		display: initial;
	}

	.food_ui .mobileHidden {
		display: none !important;
	}
}

@media screen and (max-width: 500px) {
	.food_ui #mainSection .item {
		flex-direction: column;
	}

	.food_ui #mainSection .item .details {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 601px) {
	/* Found that some recipes wernt readable at certain widths */
	.food_ui #altSection .tooltip span {
		position: absolute;
		top: 0;
		left: 10%;
	}
}
